@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar.active{
   @apply bg-cream-1 shadow-sm py-3 transition duration-300 ease-in-out
   
}

body{
    font-family: 'Inter', sans-serif;
   @apply bg-cream-1
}

.btn-primary{
    @apply bg-orangeku hover:bg-orange-500 hover:text-slate-200 text-white px-[20px] py-[15px] md:px-[30px] md:py-[15px] rounded-[10px] text-sm md:text-base focus:ring-4 focus:outline-none focus:ring-blue-300 text-center  
}


.btn-secondary{
    @apply text-orangeku border border-orangeku px-[20px] py-[15px] md:px-[30px] md:py-[13px] rounded-[10px] text-sm md:text-base hover:bg-orangeku hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 text-center 
} 

.menu-wrapper .nav-link{
    @apply text-base 2xl:text-lg
}

.menu-wrapper .nav-link.active{
    @apply text-orangeku font-bold
}

.text-based{
    @apply text-base lg:text-lg
}

.heading-banner{
    @apply 2xl:text-[55px] lg:text-[45px] text-[40px] font-bold
}

.subheading-banner{
    @apply 2xl:text-xl lg:text-lg text-base
}

.heading-section{
    @apply lg:text-4xl md:text-3xl text-2xl font-bold
}

.subheading-section{
    @apply 2xl:text-lg text-sm bg-orange-200 inline p-3 rounded
}

.margin-section{
    @apply 2xl:mt-[200px] md:mt-[150px] mt-[120px]
}

.wrapper{
    @apply container 2xl:max-w-[1320px] lg:max-w-[1100px] px-5
}

.myCard{
   @apply max-w-[250px] 2xl:max-w-[312px] border border-orangeku rounded-[20px] py-[50px] px-[30px] hover:bg-orangeku
}

.card-wrapper{
   @apply max-w-[250px] 2xl:max-w-[312px]
}

.splide__pagination{
    @apply -bottom-[40px]
}

.splide__pagination__page{
    @apply bg-[#ecac5d96] w-2 h-2
}

.splide__pagination__page.is-active{
    @apply bg-[#ecac5d] w-2.5 h-2.5
}

.testi .bg-slider{
    background-image: url("../public/img/bg-testi.webp");
}

.ribbon-product{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 71%, 0 100%);
}